.alerts {
    position: absolute;
    top: 50px;
    right:0
}
.alert {
   
    right: 0;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 300px;
    width: fit-content;
    opacity: 0;
    transform: translateX(500px);
    transition:transform 250ms ease-out 2s;
    font-size: 12px;
    z-index:1000;
}

.alert-danger {
    color: #fff;
    background-color: #f01d2e;
    border-color: #f06c79;
    display: block;
    opacity: 1;
    transform: translateX(0);
    transition: all 3s;


}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}